
PREGAME/1. ELICITACION/1.6 Backlog/~$G5_Backlog_V4.xlsx
PREGAME/1. ELICITACION/1.3 Historias de Usuario/~$G5_HERNANDEZ_DEVEINTEMILLA_REYES_VARGAS_V5_Matriz.xlsx
PREGAME/4. TERCERA ITERACIÓN/~$G5_Backlog_V4.xlsx
PREGAME/1. ELICITACION/1.2 Cronograma/~$ProyectoReinaCronov7.0.xlsx
PREGAME/1. ELICITACION/1.2 Cronograma/ProyectoReinaCronov7.0.xlsx
